{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatiile" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'landing/img/blue.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'landing/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'landing/slick/slick-theme.css' %}"/>
    <link rel="stylesheet" href="{% static 'landing/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'landing/reset.css' %}">
    <link rel="stylesheet" href="{% static 'landing/style.css' %}">
    <link rel="stylesheet" href="{% static 'landing/media.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Aguafina Script|Lobster|Pattaya|Marck+Script' rel='stylesheet'> 
    <link href="https://fonts.googleapis.com/css?family=Emilys+Candy" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header id="header">
 
            <nav class="top-menu" id="menu">
                <label class="label-header">Lyra monile</label>
                
                        <input type="checkbox" id="menu-btn" >
                        <label for="menu-btn" class="menu-btn">Menu</label>
                 
                <ul class="top-menu-list">

                    <li class="top-menu-item"><a href="#header" class="top-menu-link" title="Вверх на главную">Главная</a></li>
                    <li class="top-menu-item"><a href="#section1" class="top-menu-link" title="К разделу 'Обо мне'">Обо мне</a></li>
                    <li class="top-menu-item"><a href="#section3" class="top-menu-link">Фотографии</a>
                        
                        <ul class="sub-menu-list">
                            <li class="game-item"><a class="game-link" href="#section2">Презентация</a></li>
                            <li class="game-item"><a class="game-link" href="#section3">Новинки</a></li>
                            
                            <li class="game-item"><a class="game-link" href="{% url 'archive' %}" title="К галерее с фотографиями" target="_blank">Архив</a></li>
                        </ul>
            
                    </li>
                    <li class="top-menu-item"><a href="#footer" class="top-menu-link" title="Оставить отзыв">Обратная связь</a></li>
                    
                </ul>
            </nav>

            <div class="discription">
                <img class="ornament-angle" src="{% static 'landing/img/ornament_angle.png' %}" alt="img">
                <div class="discription-text">
                    <h1><span class="capital_letter">У</span>крашения из бисера и полудрагоценных камней ручной работы в наличии и под заказ</h1>
                </div>
            </div>
            <div class="citation">
                 <p>
                    " Украшения обладают силой быть той небольшой вещью, которая делает Вас уникальной "
                </p>
            </div>
        </header>
        
        <main class="main">
            <img class="gem" src="{% static 'landing/img/blue_gem.png'%}" alt="img">
   
            <section id="section1">

               <div class="about-me">
                   <span class="about-me-text">
                        Привет! Меня зовут Виктория.<br><br> Я занимаюсь изготовлением украшений из бисера и полудрагоценных камней.<br>
                        У меня более чем двухлетний опыт в этом деле, а также авторский креативный подход.<br>
                        Мои украшения это - оригинальные подарки себе<br> и дорогим Вам людям.<br>
                        Для девушек и женщин - возможность порадовать себя красивой вещью, стать ярче, интереснее, найти какую-то деталь, фишку для завершения образа.<br>
                        Для мужчин- возможность порадовать своих девушек, мам и коллег чудесным подарком.<br><br>
                        Надеюсь, что у меня Вы найдете СВОЮ вещь =)       
                   </span>
               </div>
            </section>

            <img class="gem" src="{% static 'landing/img/red_gem.png'%}" alt="img">

            <section id="section2">
                
                <div class="other-info">
                    <div class="vika-say">
                        <img class="vika-say-img" src="{% static 'landing/img/vika_say.jpg' %}" alt="img">
                        <div class="speech-bubble">
                            <img  src="{% static 'landing/img/speech-bubble.png' %}" alt="">
                            <p> Да-да, у меня есть, что вам предложить!:))</p>
                        </div>   
                    </div>

                    <div class="brooches">
                        <p>
                            <span>Броши</span> <br>
                            бесчиленных форм и расцветок - 
                        </p>
                        <img class="brooches-1" src="{% static 'landing/img/brooches_1.jpg' %}" alt="img">
                        <img class="brooches-2" src="{% static 'landing/img/brooches_2.jpg' %}" alt="img">
                        <img class="brooches-3" src="{% static 'landing/img/brooches_3.jpg' %}" alt="img">
                    </div>

                    <div class="earrings">
                        <img class="earrings-1" src="{% static 'landing/img/earrnings_1.jpg' %}" alt="img">
                        <img class="earrings-2" src="{% static 'landing/img/earrnings_2.jpg' %}" alt="img">
                        <img class="earrings-3" src="{% static 'landing/img/earrnings_3.jpg' %}" alt="img">
                        <p>
                            <span>Серьги</span> <br>
                            -различных фасонов  
                        </p>
                    </div>

                    <div class="other">
                        <p class="choker">
                            Чокеры
                            <img  src="{% static 'landing/img/choker.jpg' %}" alt="img">
                        </p>
                        <p class="bracelet">
                            Браслеты
                            <img  src="{% static 'landing/img/bracelet.jpg' %}" alt="img">
                            
                        </p>
                        <p class="diadem">
                            Диадемы
                            <img  src="{% static 'landing/img/diadem.jpg' %}" alt="img">
                        </p>
                        
                    </div> 

                    <div class="necklaces">
                        <p>
                            <span class="of-course-word">И конечно же</span> <span class="endless-variety-word">бесконечное множество</span> <br>
                            <span class="remaining-string">
                                разнообразных <span class="necklace-word">колье</span> и <span class="necklace-word">подвесок</span> всех мастей!
                            </span>
                        </p>
                        <div>
                            <img class="necklace-1" src="{% static 'landing/img/necklace_1.jpg' %}" alt="img">
                            <img class="necklace-2" src="{% static 'landing/img/necklace_2.jpg' %}" alt="img">
                            <img class="necklace-3" src="{% static 'landing/img/necklace_3.jpg' %}" alt="img">
                            <img class="necklace-4" src="{% static 'landing/img/necklace_4.jpg' %}" alt="img">
                            <img class="necklace-5" src="{% static 'landing/img/necklace_5.jpg' %}" alt="img">
                            <img class="necklace-6" src="{% static 'landing/img/necklace_6.jpg' %}" alt="img">
                            {% comment %} <img  src="{% static 'landing/img/necklace_7.jpg' %}" alt="img">
                            <img  src="{% static 'landing/img/necklace_8.jpg' %}" alt="img"> {% endcomment %}
                        </div>
                        
                    </div>
                </div>
            
            </section>

            <img class="gem" src="{% static 'landing/img/white_gem.png'%}" alt="img">

            <section id="section3">

                <div class="order-info-block">
                    <p>Ассортимент постоянно пополняется новыми украшениями, наборами и даже коллекциями! А разнообразие их
                        форм и расцветок почти безгранично. И несомненно каждый сможет найти среди моих работ вещицу себе по душе. Более подробно о моих украшениях
                        или их заказе Вы можете узнать обратившись ко мне напрямую по телефону <span> +7 950 109 98 74</span>, в соцсетях 
                        <a href="https://www.instagram.com/lyra_monile" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> instagram</a>, 
                        <a href="https://vk.com/sothell" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i> vkontakte</a>,
                        <a href="" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> facebook</a> или написать комментарий на сайте
                        <a href="#footer" class="top-menu-link" title="Оставить отзыв">вот здесь</a>.
                    </p>
                </div style="display: flex">
                <p >
                    Ниже представлены
                    <h3 class="section-heading">
                        Новинки
                    </h3>
                    моих работ
                </p>
                
                <section class="center slider slider-decorations">
                    {% for decoration_image in decorations_images %}

                        <div>
                            <div class="slider-img-discription-box">
                                <p class="slider-img-title">{{ decoration_image.decoration.name }}</p>
                                <p class="slider-img-discription">{{ decoration_image.decoration.discription }}</p>
                            </div> 
                            <img class="slide-img" src="{{ decoration_image.img.url }}">
                        </div>
    
                    {% endfor %}  
                </section> 
            
                <h3 class="section-heading">
                    Мои довольные клиенты
                </h3>
                <section class="center slider slider-customers">
                    
                    {% for customer_image in customes_images %}
                        <div>
                            <div class="slider-img-discription-box">
                                <p class="slider-img-title">{{ customer_image.customer.name }}</p>
                                <p class="slider-img-discription"> Цитата: "{{ customer_image.customer.citation }}"</p>
                            </div> 
                            <img class="slide-img" src="{{ customer_image.img.url }}">
                        </div>
                    {% endfor %}

                </section> 
            </section>
 
            <div class="dev-team-spoiler">
                <p class="spoiler-heading">Команда разработчиков</p>
                <div class="spoiler-body">
                    <div class="spoiler-item">
                        <img class="spoiler-img" src="{% static 'landing/img/disign.jpg' %}">
                        <p class="dev-name">
                            Дизайн <br><a href="https://vk.com/golovkoa" target="_blank"> Andrey Golovko </a>
                        </p>
                    </div>
                    <div class="spoiler-item">
                        <img class="spoiler-img" src="{% static 'landing/img/frontend.jpg' %}">
                        <p class="dev-name">
                            Фронтэнд <br> <a href="https://vk.com/golovkoa" target="_blank"> Andrew G. </a>
                        </p>
                    </div>
                    <div class="spoiler-item">
                        <img class="spoiler-img" src="{% static 'landing/img/backend.jpg' %}">
                        <p class="dev-name">
                            Бэкэнд <br> <a href="https://vk.com/golovkoa" target="_blank"> golovko_a </a>
                        </p>
                    </div>
                    <div class="spoiler-item">
                        <img class="spoiler-img" src="{% static 'landing/img/tester.jpg' %}">
                        <p class="dev-name">
                            Тестинг и отладка <br> <a href="https://vk.com/golovkoa" target="_blank"> golovko_tester </a>
                        </p>
                    </div>   
                </div>
            </div>
            
        </main>

        <img class="gem" src="{% static 'landing/img/yellow_gem.png'%}" alt="img">
        <footer id="footer">

            <div class="footer-all">
                <div class="comments">

                    <div class="footer-info">
                        <strong class="footer-info-heading">Большое спасибо за то, что посетили мой сайт!<br> <br></strong>
                        <p>Если хотите связаться со мной по поводу украшений или оставить отзыв</p>
                        <p>воспользуйтесь формой ниже :)</p>
                    </div>
            
                    <form action="" method="POST"> {% csrf_token %}
                        <div class="form-group">
                            {{ form.name }}
                        </div>
                        <div class="form-group">
                            {{ form.email }}
                        </div>
                        <div class="comment-btn">
                            <div class="form-group">
                                {{ form.comment }}
                            </div>
                            <button class="submit-btn" type="submit">
                                Отправить
                            </button>
                        </div> 
                    </form>
                </div>
                
                <div class="footer-nav-n-inco">
                    <div class="footer-ico">  
                        <p class="footer-info-heading">Также для связи со мной: </p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i>  +7 950 109 98 74</p>
                        <a href="https://www.instagram.com/lyra_monile" target="_blank"><p><i class="fa fa-instagram" aria-hidden="true"></i> instagram</p></a> 
                        <a href="https://vk.com/sothell" target="_blank"><p><i class="fa fa-vk" aria-hidden="true"></i> vkontakte</p></a> 
                        <a href="" target="_blank"><p><i class="fa fa-facebook-official" aria-hidden="true"></i> facebook</p></a> 
                        <a href="" target="_blank"><p><i class="fa fa-telegram" aria-hidden="true"></i> telegram</p></a> 
                        
                    </div>
                    <div id="footer-nav">
                        <p class="footer-info-heading">
                            Перейти: 
                        </p>
                        <a href="#header" class="footer-link">
                            <p>Вверх</p>
                        </a>
                        <a href="#section1" class="footer-link">
                            <p>Обо мне</p>
                        </a>
                        <a href="#section2" class="footer-link">
                            <p>Презентация</p>
                        </a>
                        <a href="#section3" class="footer-link">
                            <p>Новинки</p>
                        </a>
                        <a href="{% url 'archive' %}" target="_blank" class="footer-link">
                            <p>Архив</p>
                        </a>
                        <label class="label-footer">Lyra monile</label>
                        </div>
                </div>
                
            </div>
            
        </footer>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'landing/slick/slick.min.js' %}"></script>
    <script language="JavaScript" src="{% static 'landing/js/script.js' %}" type="text/javascript"> </script>

</body>
</html>